{% extends "base.html" %}

<!-- Load wagtailimages_tags: -->
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="card-text">
    <h4>{{ page.title }}</h4>
    </div>

    <!-- l'intro du blog -->
    <div class="card-header">{{ page.intro|richtext }}</div>
    <p></p>


    {% for post in blogpages %}
    {% with post=post.specific %}
        <!--div class="card text-white bg-dark mb-3" style="max-width: 46rem;"-->
        <!-- mb-3  donne l'espace entre 2 post-->
        <div class="card mb-3" style="max-width: 46rem;">

            <div class="card-header">
                <!--h5 class="card-link"-->
                <a href="{% pageurl post %}">{{ post.title }}</a>
                <!--/h5-->
            </div>

		   <!-- Add this: -->
				{% with post.main_image as main_image %}
					{% if main_image %}{% image main_image fill-160x100 %}{% endif %}
				{% endwith %}

            <div class="card-body">

                <!-- on definit l'image comme un hyperlien vers la publication-->
                <!a href="{% pageurl post %}"-->
				<!--  gestion des images-->

                </a>


                <p class="card-text">
                {{ post.intro }}
                </p>
				<!-- je ne mets pas le texte dans la page d,index { post.body|richtext }}-->

            </div>
        </div>

    {% endwith %}
{% endfor %}



{% endblock %}