{% extends "base.html" %}

<!-- Load the wagtailimages_tags: -->
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="card-body"><h2>{{ page.title }}</h2></div>
    <div class="card-body">
        {{ page.date }}
        </p>
    </div>

    <!--div class="intro">{{ page.intro }}</div-->
    <div class="card-header">{{ page.intro }}</div>

    <div class="card-body">{{page.body|richtext}}</div>

    <!-- Add this: -->
    {% for item in page.gallery_images.all %}
        <div style="float: inline-start; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
        </div>
    {% endfor %}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>


{% endblock %}



